---
---

<span class="self-center flex items-center gap-2">
  <img src="/favicon.svg" alt="chatwire" width="28" height="28" class="inline-block" />
  <span class="text-xl font-bold whitespace-nowrap" style="color: rgb(200, 210, 220);">
    chatwire
  </span>
</span>
